.card-title {
    font-family: 'Chonburi';
}
.card-text {
    font-family: 'Alexandria';
}
a {
    color: #343a40;
    text-decoration-color: #343a40;
    text-decoration-thickness: 2px;
}
a:hover {
    color: black;
}