
<div class="container-fluid p-5" *ngIf="album && sanitizedUrl">
    <div class="row g-0 align-items-center" style="min-height:80vh;">
        <div class="card">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img class="img-fluid" src="{{album.coverUrl}}" alt="album cover">
                </div>
                <div class="col-lg-7 px-3">
                    <div class="card-body h-100 d-flex flex-column">
                        <h1 class="card-title">{{album.name}}</h1>
                        <p class="card-text m-0">By <a *ngFor="let artist of album?.artists" routerLink="/artists/{{artist.spotifyId}}" class="me-2">{{artist.name}}</a></p>
                        <p class="card-text">Released on {{album.releaseDate}} | {{album.numOfTracks}} track(s) | Spotify Popularity Index of {{album.popoularity}} </p>
                        <div class="flex-fill player">
                            <iframe style="width:100%; height:100%;" [src]="sanitizedUrl" allow="encrypted-media;" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>