<div class="container-fluid">
    <div class="row">
        <h3>{{album?.name}}</h3>
        <div class="col-4 p-3">
            <img src="{{album?.coverUrl}}" class="img-fluid" alt="album cover">
            <ul>
                <li>artists: <p *ngFor="let artist of album?.artists">{{artist.name}}</p>
                </li>
                <li>released on {{album?.releaseDate}}</li>
                <li>type: {{album?.type}}</li>
                <li>{{album?.numOfTracks}} tracks</li>
                <li>popularity: {{album?.popoularity}}</li>
            </ul>
        </div>
        <div class="col-8 p-3">
            <iframe style="border-radius: 12px" width="100%" height="100%" title="{{album?.name}}"
                frameborder="0" allow="encrypted-media;" loading="lazy"
                [src]="sanitizedUrl">
            </iframe>
        </div>
    </div>
</div>