<div class="container-fluid pt-4 px-5" *ngIf="genre && artists">
    <div class="row mb-4">
        <div class="col-5">
            <h1 class="text-capitalize">{{genre.name}}</h1>
            <p>{{genre.overview}} <a class="link-secondary" href="{{genre.externalUrl}}">Learn more on Wikipedia.</a></p>
        </div>
        <div class="col-7 ps-4">
            <h3 class="mb-4">Subgenres to explore</h3>
            <a *ngFor="let subgenre of genre.subgenres" routerLink="/genres/{{subgenre.parentId}}/subgenres/{{subgenre.id}}"><button class="subgenre me-2 mb-2" [disabled]="subgenre.id==subgenreId">{{subgenre.name}}</button></a>
        </div>
    </div>
    <div class="row">
        <div class="mb-4 d-flex justify-content-between align-items-baseline">
            <h3 class="m-0">Popular artists</h3>
            <div class="me-4">
                <button class="me-2 mb-2" (click)="prevPage(artists.pageIndex)" [disabled]="!artists.hasPreviousPage">&laquo; previous</button>
                <button (click)="nextPage(artists.pageIndex)" [disabled]="!artists.hasNextPage">next &raquo;</button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-xl-3" *ngFor="let artist of artists.data">
            <a routerLink="/artists/{{artist.spotifyId}}" style="text-decoration: none; color: black;">
                <div class="card me-4 mb-4">
                    <img src="{{artist.imageUrl}}" class="card-img-top" alt="profile pic">
                    <div class="card-body">
                        <h6 class="card-title m-0">{{artist.name}}</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>