h1, h3 {
    font-family:'Chonburi'
}
button, p, h6 {
    font-family: 'Alexandria'
}
button {
    border: 2px solid black;
    background-color: white;
}
button:hover {
    background-color: black;
    color: white;
}
button:disabled {
    border: 2px solid rgba(16,16,16,0.3);
    pointer-events: none;
}
.subgenre:disabled {
    background-color: black;
    color: white;
}